.shop-items {
	display: flex;
	gap: 3rem 1rem;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem 0;
}

.item {
	width: 250px;
}

.item img {
	aspect-ratio: 1;
	border-radius: 0.125rem;
	display: block;
	width: 100%;
}

.item h2 {
	font-size: 1.125rem;
	margin: 0.75rem 0 0;
}

.item p {
	margin: 0.25rem 0 0;
}
