---
import Layout from '../layouts/shop.astro';
import ShopItems from '../components/shop-items.astro';
import { Cart } from '../components/cart';

export const prerender = true;
---

<Layout>
	<h1>Shop Sandwich Kits</h1>

	<noscript>
		<p>
			JavaScript is required to purchase things from the sndwch web store. To
			order by phone, call <a href="tel:12484345508">+1 248-434-5508</a>.
		</p>
	</noscript>

	<div class="wrapper">
		<ShopItems />

		<Cart client:only="solid-js" />
	</div>
</Layout>

<style>
	.wrapper {
		align-items: flex-start;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 260px;
		position: relative;
	}
</style>
