---
import Layout from './layouts/default.astro';

import ShopItems from '../components/shop-items.astro';

import { Cart} from '../components/cart';


---

<Layout>
	<div class="shop">
		<h1>Shop Sandwich Kits</h1>
		<noscript>
			<p>
				JavaScript is required to purchase things from the sndwch webstore. To
				order by phone, call <a href="tel:123456789">+1 123-456-789</a>
			</p>
		</noscript>
	</div>

	<div class="products">
		<ShopItems />
		<Cart client:only="solid-js"/>
	</div>
</Layout>

<style>
	.shop {
		padding: 3rem 5%;
	}

	.products {
		align-items: flex-start;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 260px;
		position: relative;
	}
</style>
